<div class="container bg-dark p-3">
  <div class="room bg-light d-sm-flex align-items-center justify-content-between">
    <div class="description p-1">
      <%= @room_hash[:description] %>
    </div>
    <div class="items p-1">
      <h2>Items in the room:</h2>
      <% @items.each do |item|%>
        <ul>
          <li>
            <a href="/rooms/<%= @room_hash[:id] %>/items/<%= item[:id] %>">
              <%= item[:type] %>
            </a>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="doors bg-light">
    <div class="row text-center">
      <% @room_hash[:doors].each do |id| %>
        <div class="col-md">
          <a href="/rooms/<%= id %>">
            Door #<%= id %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="build p-1 container-fluid">
    <form action="/rooms/<%= @room_hash[:id] %>" method="post" class="form-inline">
      <a class="btn btn-secondary" role="button" href="/rooms/<%= @room_hash[:id] %>/edit">Edit room</a>
      <a class="btn btn-secondary" role="button" href="/rooms/<%= @room_hash[:id] %>/new">Digg Next Room</a>
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </div>
  <div class="inventory p-1 container bg-light align-items-center justify-content-between">
    <h2>Inventory</h2>
    <ul>
      <% @inventory_items.each do |item| %>
        <li>
          <a href="/inventory/items/<%= item[:id] %>">
            <%= item[:type] %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
